.gr{

background-color: green;
height: 50vh;


}


.gri{

    background-color: yellow;
    height: 50vh;
    
    
    }



    .grid{

        background-color: green;
        height: 50vh;
        
        
        }
        